<header class="{{header_about || header}}">
  <a href="/HTML/index.html">
      <img class="logo" src="/assets/img/logo-removido blanquito.png" alt="logo morgans">
  </a>

  <button id="abrir" class="abrir-menu"><img src="/assets/img/burger.svg" alt="Menu hamburguesa"></button>

  <nav class="navegation" id="nav">
      <div class="container-btn">
          <button class="cerrar-menu" id="cerrar"><i class="fa-sharp fa-solid fa-xmark"></i></button>
      </div>
      <ul class="navegation-list">
          <li> <a href="./index.html">Inicio</a> </li>
          <li> <a href="./menu.html">Menu</a> </li>
          <li> <a href="./nosotros.html">Nosotros</a> </li>
      </ul>
  </nav>
</header>
